html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/*Main colors*/
:root {
  --primary-text-color: #212121;

  --secondary-text-color: #757575;

  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding: 0 15px;
}

/*Логотип*/

.logo {
  color: #212121;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.accent {
  color: #2196f3;
}

/*Main Nav*/

.page-header {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #ececec;
}

.container.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*Site Nav*/

.link-position {
  position: relative;
}

.link-position::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/*auth-nav*/

.btn-icon {
  fill: currentColor;
  margin-right: 10px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;

  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/*Герой*/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*Overlay*/

.overlay {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgheader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero .subject {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.subject {
  width: 696px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.hero .button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero .button {
  width: 200px;
  height: 50px;
}

.button {
  border: 2px;
  border-radius: 4px;
}

/*Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: visability, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: visability, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: #2196f3;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-field {
  margin-bottom: 20px;
}

.modal-item {
  position: relative;
  margin-bottom: 10px;
}

.modal-item:last-child {
  margin-bottom: 0;
}

.modal-item input {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input {
  transition-property: border, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
  outline: none;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.modal-item textarea {
  display: block;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

/*CheckBox*/

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-policy {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-policy-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: #2196f3;
  border-radius: 4px;
}

.modal-name {
  text-align: start;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-link {
  margin-left: 4px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /* text-decoration: underline;
  text-underline-offset: 1px; */
  color: #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-item:focus-within .modal-icon {
  fill: #2196f3;
}

/*Section Benefits*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits {
  padding-bottom: 0;
}

.benefits-wrap {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.section .list {
  display: flex;
  gap: 30px;
}

.list .section-title {
  margin-bottom: 10px;
}

.list .benefits-item {
  width: 270px;
}

.list .benefits-item:nth-child(4n) {
  padding-right: 0;
}

.benefits-item {
  width: 270px;
}

/*Pictures*/

.list .picture:nth-child(3n) {
  margin-right: 0;
}

.picture-thumb {
  position: relative;
}

.text-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  text-align: center;

  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.text-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*Section Team*/

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list .text {
  color: #757575;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-bottom: 0;
}

.pointer {
  cursor: pointer;
}

.section-team {
  background-color: #f5f4fa;
}

.team-container .list {
  display: flex;
}

.team-container .item-team {
  background-color: #ffffff;
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.list .team-subtitle {
  padding: 30px 0;
  text-align: center;
}

.team-subtitle .text {
  margin-top: 10px;
  margin-bottom: 16px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team .team-container {
  margin-top: 50px;
}

.team-container .item-team:nth-child(4n) {
  margin-right: 0;
}

.heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.section-team .user {
  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.team-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.link-team {
  fill: currentColor;
}

.social-link {
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/*Section Clients*/

.section-clients {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.clients-all {
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list.all {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.clients-icon {
  fill: currentColor;
}

.clients-all:hover,
.clients-all:focus {
  color: #2196f3;
  border-color: #2196f3;
}

/*section portfolio*/

.filter .button {
  padding: 6px 22px;

  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover,
.filter .button:focus {
  color: #ffffff;
  background-color: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pointer:hover,
.pointer:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.subtitle {
  margin-bottom: 0;
}

.filter {
  padding-left: 0;
  list-style: none;
  gap: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-items {
  display: block;
  width: 370px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover,
.portfolio-items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hidden {
  display: none;
}

.subtitle {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.more {
  color: #212121;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.section-content .preview {
  color: #757575;

  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;
}

.filter .active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-items:hover .text-overlay {
  transform: translateY(0);
}

/* Footer*/

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.page-footer .address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.page-footer .logo {
  color: #ffffff;
}

.address-container .footer-contact {
  flex-direction: column;
  padding-top: 9px;
  gap: 9px;
}

.address {
  margin-top: 20px;
}

.footer-contact {
  margin-top: 6px;
  color: #757575;
}

.footer-link {
  margin-bottom: 9px;
}

.footer-link:nth-child(2n) {
  margin-bottom: 0;
}

.footer-link .link {
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link .link:hover,
.footer-link .link:focus {
  color: #2196f3;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 0;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-item {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer-icons {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footer-field {
  height: 86px;
}

.footer-field input {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-field input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  border: none;
  display: inline-flex;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-mail input {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
